@page "/entidad/{tipo}/editar"
@page "/entidad/{Tipo}/editar/{id:int}"
@rendermode InteractiveServer
@inject NavigationManager NavMan
@inject IJSRuntime JSx
@inject SerieContext Sc

<PageTitle>Editar entidad</PageTitle>
<h3>Editando @Tipo</h3>

<EditForm Model = "instancia" OnValidSubmit = "GuardarDatos">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for = "nombre">Nombre</label>
        <InputText id = "nombre" class="form-control" @bind-Value = "instancia.Nombre" />
    </div>

    <div class="form-group">
        <label for = "pais">País</label>
        <InputText id = "pais" class="form-control" @bind-Value = "instancia.Pais" />
    </div>

    <div class="form-group">
        <label for = "idioma">Idioma</label>
        <InputText id = "idioma" class="form-control" @bind-Value = "instancia.Idioma" />
    </div>

    <div class="form-group">
        <label for = "resumen">Resumen</label>
        <InputText id = "resumen" class="form-control" @bind-Value = "instancia.Resumen" />
    </div>

    <div class="form-group">
        <label for = "FotoUrl">Foto</label>
        <input type = "url" id = "FotoUrl" class="form-control" @bind = "instancia.FotoUrl" />
    </div>

    <div class="text-center mt-3">
        <button type = "submit" class="btn btn-success">Guardar</button>
    </div>

    <h4>Personajes</h4>

    <table class="table table-hover">

        <thead>
            
        </thead>
    </table>

</EditForm>


@code{

    [Parameter]
    public string Tipo { get; set; } = "";

    [Parameter]

    public int Id { get; set; } = 0;

    protected override async Task OnParametersSetAsync(){

        switch(Tipo){

            case "libros":
                tipoEntidad = TipoEntidad.Libro;
                break;
            
            case "peliculas":
                tipoEntidad = TipoEntidad.Pelicula;
                break;

            case "series":
                tipoEntidad = TipoEntidad.Serie;
                break;

            default:
                //await JSx.InvokeVoidAsync("alert", "El tipo de entidad no es válido");
                NavMan.NavigateTo("/");
                break;
        }
    }

    SeriePeliculaLibro instancia = new SeriePeliculaLibro();

    TipoEntidad tipoEntidad;

    async Task GuardarDatos(){

        instancia.Tipo = tipoEntidad;

        if (instancia.Id > 0){
            
            Sc.SeriePeliculaLibros.Update(instancia);
        }
        else{
            Sc.SeriePeliculaLibros.Add(instancia);
        }
        
        await Sc.SaveChangesAsync();
        await JSx.InvokeVoidAsync("alert", "Datos registrados.");
        NavMan.NavigateTo($"/entidad/{Tipo}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender){

        if (firstRender){

            if (Id > 0){

            instancia = Sc.SeriePeliculaLibros.FirstOrDefault(x => x.Id == Id)?? new SeriePeliculaLibro();
            StateHasChanged();
            }
        }
    }
}